<ion-view view-title="{{event.Title}}">
  <ion-content class="padding">
    <img ng-src="{{event.Image}}" style="width: 64px; height: 64px">
    <p>
        {{event.Title}}
    </p>
    <video class="pf-video" width="480px" height="320px" poster="http://smf.cloudapp.net/html5/media/bigbuck.png" autoplay="">
        <source src="../trailer.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
        <!--<source src="http://smf.cloudapp.net/html5/media/bigbuck.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">-->
        <!--<source src="http://smf.cloudapp.net/html5/media/bigbuck.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">-->

    </video>
  </ion-content>
</ion-view>
