<ion-popover-view>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                sort by
            </div>
            <a class="item" href="#" target="_blank">
                IMDB rating
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
               Rating from friends
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
                Newest on top
            </a>

        </div>
    </ion-content>
</ion-popover-view>
