<ion-view view-title="Snap event">
    <ion-content style="-ms-opacity: 0.5; opacity: 0.4">
        <div class="list card">
            <div class="item">
                <h2>This feature is coming soon..</h2>
                <p>"I haven't really been anywhere noteworthy or mentionable."</p>
            </div>

            <div class="item item-image">
                <img src="http://blurayauthority.com/images/pub/waltermitty_pub.png">
            </div>
        </div>
    </ion-content>
</ion-view>

