<ion-view view-title="Activity">
    <ion-content style="-ms-opacity: 0.5; opacity: 0.4">
        <div class="list card">
            <div class="item">
                <h2>This feature is coming soon..</h2>
                <p>"Life is about courage and going into the unknown..."</p>
            </div>

            <div class="item item-image">
                <img src="https://24.media.tumblr.com/936280763c4747929725aee90ab91223/tumblr_mz0ag3eTXw1qahir3o2_400.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>