<ion-view view-title="{{superModel.totalMovies}} movies {{superModel.searchText}}">
    
    <ion-nav-buttons side="primary">
        <div class="buttons">
            <button class="button button-icon ion-more" ng-click="openPopover($event)">
            </button>
        </div>
    </ion-nav-buttons>
    
    

    <ion-content class="row-no-padding">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="loadData()">
        </ion-refresher>
        

        <div class="list">
            <div class="item">
                <ion-scroll zooming="true" direction="x" style="width: 500px; height: 40px">
                    <div class="button-bar-inline" style="width: auto; height: 40px;" >
                        <a ng-repeat="tag in tags" class="button button-clear" ng-class="{'button-outline':hasTagInSearch(tag.Title)}" ng-style="{'color':tag.Color}" ng-click="addTag(tag.Title)">{{tag.Title}}</a>
                    </div>

                </ion-scroll>

                
            </div>

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="superModel.searchText" ng-change="loadData()">
            </label>
            
            <div collection-repeat="movie in feed"  on-swipe-left="alert('hello')" class="item item-thumbnail-left">
                <img ng-src="{{getPoster(movie.PosterPath)}}">
                <h2>{{ movie.Title }}</h2>
                <h3>{{ movie.Tags.join(', ') }}</h3>
                <h3>{{ movie.Release }}, IMDB {{ movie.ImdbRating }}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>
