@using System.Web.Optimization
<!doctype html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Filmgrail prototype</title>

    @Styles.Render("~/content/vendor")
    @Styles.Render("~/content/app")
    <link href="https://fontastic.s3.amazonaws.com/HCMCBd5ToJQCErxqRK2JW/icons.css" rel="stylesheet">
</head>
<body ng-class="{'white':tags.length==0&& $state.current.name=='feed2'}">
    <div class="container" style="max-width: 750px">
        <h4 class="hidden-xs" style="background: rgb(76, 76, 76); color: #aaa; margin-top: 0; padding: 15px; margin-bottom: 0;">FILMGRAIL
        <div class="pull-right top-nav">
            <a ui-sref="home" ui-sref-active="active">home</a>
            <a ui-sref="feed" ui-sref-active="active">search1</a>
            <a ui-sref="feed2" ui-sref-active="active">search2</a>
            <a ui-sref="movies" ui-sref-active="active">movies</a>
            <a ui-sref="activity" ui-sref-active="active">activity(2)</a>
            <a ui-sref="profile" ui-sref-active="active">profile</a>
        </div>
        </h4>
        <div ui-view></div>
        <div class="footer visible-xs">
            <div class="col-xs-3 text-center">
                <a ui-sref="home"><i class="icon-drag-2"></i></a>
            </div>
            <div class="col-xs-3 text-center">
                <a ui-sref="feed2"><i class="icon-search-outline active"></i></a>
            </div>
            <div class="col-xs-3 text-center">
                <a ui-sref="notification-news" style="color: #00526e;"><i class="icon-flag-outline"></i>2</a>
            </div>
            <div class="col-xs-3 text-center">
                <a ui-sref="profile"><i class="icon-contact-outline"></i></a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/vendor")
    @*<script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>*@
    @Scripts.Render("~/bundles/app")
</body>
</html>



