@using System.Web.Optimization
<!doctype html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Filmgrail prototype</title>
    @Styles.Render("~/content/vendor")
    @Styles.Render("~/content/app")
    <link href="https://fontastic.s3.amazonaws.com/HCMCBd5ToJQCErxqRK2JW/icons.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="max-width: 750px">
        <h3 style="background: rgb(76, 76, 76); color: #aaa; margin-top: 0; padding: 15px;margin-bottom: 0;">FILMGRAIL
            <div class="pull-right top-nav">
                <a ui-sref="feed" ui-sref-active="active">search</a>
                <a ui-sref="movies" ui-sref-active="active">movies</a>
                <a ui-sref="activity" ui-sref-active="active">activity(2)</a>
                <a ui-sref="profile" ui-sref-active="active">profile</a>
            </div>
        </h3>
        <div ui-view></div>
    </div>
    @Scripts.Render("~/bundles/vendor")
    @*<script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>*@
    @Scripts.Render("~/bundles/app")
</body>
</html>



