@using System.Web.Optimization
<!doctype html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Filmgrail prototype</title>
    @Styles.Render("~/content/vendor")
    @Styles.Render("~/content/app")
    <link href="https://fontastic.s3.amazonaws.com/HCMCBd5ToJQCErxqRK2JW/icons.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="col-md-3 left-menu">
            <h2>FILMGRAIL</h2>
            <br />
            <div class="list-group">
                <a class="list-group-item">Feed
                </a>
                <a class="list-group-item">My movies
                </a>
                <a class="list-group-item">
                    <span class="badge">14</span>
                    Activity
                </a>
                <a class="list-group-item">Profile
                </a>
            </div>
        </div>
        <div class="col-md-9" ng-controller="feedCtrl">
            <h2>Feed <i class="pull-right icon-align-justify"></i></h2>
            <br />
            <div class="row">
                <div class="col-md-3" ng-repeat="movie in feed">
                    <div style="margin-bottom: -33px; padding: 7px; opacity: 0.7; background: black">
                        <div class="row">
                            <div class="col-xs-12">
                                <i class="icon-star pull-left">&nbsp;{{movie.Rating | number:1}}</i>
                                <i ng-show="movie.Likes.length>0" class="icon-signal pull-right"></i>
                                <i ng-show="movie.Likes.length>1" class="icon-television-tv pull-right"></i>
                                <i ng-show="movie.Likes.length>2" class="icon-cinema pull-right"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img class="img-responsive" ng-src="https://image.tmdb.org/t/p/w185{{movie.PosterPath}}" alt="..." />
                    </div>
                    <div style="margin-top: -40px; padding: 10px; opacity: 0.7; background: black">
                        <div class="row">
                            <div class="col-xs-4"><i class="icon-heart-empty">&nbsp;{{movie.Likes.length | nullIfZero}}</i></div>
                            <div class="col-xs-4"><i class="icon-comment-alt">&nbsp;2</i></div>
                            <div class="col-xs-4"><i class="icon-share-alt">&nbsp;1</i></div>
                        </div>
                    </div>
                    <div style="height: 40px">
                        <p ng-show="movie.Likes.length>0" ng-hide="{{movie.Likes.length==0&&movie.UsersHavingMovie.length}}">{{movie.Likes[0].Name | limitTo:10}} liked it</p>
                        <p ng-show="{{movie.Likes.length==0 && movie.UsersHavingMovie.length>0}}">{{movie.UsersHavingMovie[0].Name | limitTo:10}} shared it</p>
                    </div>

                </div>
            </div>
            <div class="well well-sm" ng-repeat="movie in feed">
                <div class="media">
                    <div class="media pull-left" href="#">
                        <div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{movie.Title}}, {{movie.ProductionYear}} <span class="label label-default pull-right">IMDB: {{movie.Rating | number:1}}</span></h4>
                        <p>Simon, Inge and 34 others liked</p>
                        <p>Simon 4 others commented</p>
                        @*{{movie|json}}*@
                    </div>
                </div>

            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/vendor")
    @*<script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>*@
    @Scripts.Render("~/bundles/app")
</body>
</html>



