@using System.Web.Optimization
<!doctype html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Filmgrail prototype</title>
    @Styles.Render("~/content/vendor")
    @Styles.Render("~/content/app")
    <link href="https://fontastic.s3.amazonaws.com/HCMCBd5ToJQCErxqRK2JW/icons.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="max-width: 750px">
        @* <div class="col-md-3 left-menu">
            <h2>FILMGRAIL</h2>
            <br />
            <div class="list-group">
                <a class="list-group-item">Feed
                </a>
                <a class="list-group-item">My movies
                </a>
                <a class="list-group-item">
                    <span class="badge">14</span>
                    Activity
                </a>
                <a class="list-group-item">Profile
                </a>
            </div>
        </div>*@
        <h3 class="text-center">FILMGRAIL</h3>
        <div class="col-md-12" ng-controller="feedCtrl" style="padding-top: 20px">
            <input ui-select2="tagOptions" placeholder="Search..." ng-model="tags" style="margin-bottom: 5px; margin-top: 5px; text-align: center;">
            <div style="overflow-x: auto; overflow-y: hidden;">
                <label ng-click="addTag(tag)" class="label label-simple pointer movie-tag" ng-class="{'tag-opacity':subTagList.length>0}" style="padding: 6px; margin-left: 5px" ng-repeat="tag in tagList">{{tag}}</label>
            </div>
            <label ng-click="addTag(tag, true)" class="label label-simple pointer" style="padding: 6px; margin-left: 5px" ng-repeat="tag in subTagList">{{tag}}</label>
            <hr style="margin-bottom: 0" />
            <p class="" style="line-height: 40px; font-size: 75%; padding-left: 10px; margin-bottom: 0; color: #999;">
                {{300544/((tags.length+1)*2) | number:0 }} movies found
            </p>
            <div class="row">
                <div class="col-sm-4 col-xs-12 movie-card" ng-repeat="movie in feed" style="margin-bottom: 25px;">
                    <div style="margin-bottom: -30px; padding: 7px; opacity: 0.7; background: black; height: 30px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <i tooltip="IMDB rating" tooltip-placement="top" data-toggle="tooltip" class="icon-star pull-left">&nbsp;{{movie.Rating | number:1}}</i>
                                <i tooltip="Avaialbe on Netflix and ITunes" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>0" class="icon-signal pull-right"></i>
                                <i tooltip="Airing on NRK2 tomorrow 21:00" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>1" class="icon-television-tv pull-right"></i>
                                <i tooltip="Avaialbe in cinemas" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>2" class="icon-cinema pull-right"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img class="img-responsive" style="width: 100%;" ng-src="https://image.tmdb.org/t/p/w185{{movie.PosterPath}}" alt="..." />
                    </div>
                    <div style="margin-top: -60px; padding: 10px; opacity: 0.7; background: black; height: 60px; padding-top: 7px;">
                        <p style="color: #E0E0E0; font-size: 12px;" ng-show="movie.Likes.length>0" ng-hide="movie.Likes.length==0&&movie.UsersHavingMovie.length">{{movie.Likes[0].Name | limitTo:10}} liked it</p>
                        <p style="color: #E0E0E0; font-size: 12px;" ng-show="movie.Likes.length==0 && movie.UsersHavingMovie.length>0">{{movie.UsersHavingMovie[0].Name | limitTo:10}} shared it</p>
                        <div class="row">
                            <div class="col-xs-4 text-center"><i class="icon-heart-empty">&nbsp;{{movie.Likes.length | nullIfZero}}</i></div>
                            <div class="col-xs-4 text-center"><i class="icon-comment-alt">&nbsp;2</i></div>
                            <div class="col-xs-4 text-center"><i class="icon-share-alt">&nbsp;1</i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/vendor")
    @*<script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>*@
    @Scripts.Render("~/bundles/app")
</body>
</html>



