/**
{
    -webkit-backface-visibility: hidden;
}

html, body
{
    -webkit-user-select: none;
}*/

html, body {
    height: 100%;
    background-color: #FFFFFF!important;
}

.ui-match {
    background: yellow;
}

.pointer {
    cursor: pointer;
}

.border-right {
    border-right: 1px solid #eee;
}

.label-simple {
    border: none;
    background: none;
    color: inherit;
    margin-left: 0;
    padding-left: 0;
}

.red {
    color: #f04124;
}

.break-word {
    word-break: break-all;
}

.bold {
    font-weight: bold;
}

.column {
    overflow-x: hidden;
}

#ticketList .ticket .labels .label-default {
    background-color: #f0f0f0;
}

#ticketList .ticket .labels .label {
    display: inline-block;
    width: 20px;
    margin-right: 0 !important;
    font-size: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#thread .text-right img, #comments .text-right img {
    width: 15%;
    max-width: 100px;
    margin-left: 15px;
}

.movie-card {
    height: auto;
}



@media (min-width: 768px) {
    .column {
        height: 100%;
        overflow-y: auto;
    }
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.left5 {
    margin-left: 5px;
}

.left0 {
    margin-left: 0;
    padding-left: 0;
}

.mediumBold a {
    cursor: pointer !important;
    color: #008cba !important;
}

.navbar-collapse .mediumBold a {
    color: white !important;
}

h3, h4 {
    font-weight: 300;
}

.inbox .nav a {
    /*font-weight: 600;*/
    color: #aaa;
    cursor: default;
}

.animate.ng-move,
.animate.ng-enter,
.animate.ng-leave {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

    .animate.ng-leave.ng-leave-active,
    .animate.ng-move,
    .animate.ng-enter {
        opacity: 0;
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -moz-transform: scale(0.95);
    }

        .animate.ng-leave,
        .animate.ng-move.ng-move-active,
        .animate.ng-enter.ng-enter-active {
            opacity: 1;
            transform: scale(1);
            -webkit-transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            height: auto;
        }

.animate-show {
    -webkit-transition: all linear 1.5s;
    transition: all linear 1.5s;
    opacity: 1;
    line-height: 2;
}

    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
        display: block!important;
        line-height: 2;
    }

    .animate-show.ng-hide {
        opacity: 0;
        line-height: 1;
    }

.animate-show {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1;
}

    .animate-show.ng-hide {
        opacity: 0;
    }

    .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
        /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
        display: block!important;
    }

#thread .dropdown-menu {
    top: 0;
}

#thread span.icon-pencil {
    padding-left: 20px;
    padding-bottom: 20px;
}

#chooseCategoryModal .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #eeeeee;
}

.ng-valid-required.ng-invalid.form-control {
    border-color: rgba(233, 10, 10, 0.6);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 10, 10, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 10, 10, 0.6);
}

#login .form-control {
    font-size: 18px;
}

.fs-multiselect .fs-multiselect-wrapper .fs-multiselect-selected-items .btn {
    padding: 3px;
}

.props {
    margin-bottom: 10px;
}

    .props .label {
        margin-right: 5px;
        margin-bottom: 10px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

.my-drop-zone {
    border: dotted 1px lightgray;
}

.ng-file-over {
    border: dotted 1px red;
}
/* Default class applied to drop zones on over */
#ticketList .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#ticketDetail .label, .modal-dialog .label {
    display: inline-block;
    line-height: 1.6;
}

.white {
    color: white!important;
}

.blue {
    color: #008cba;
}

a:link {
    text-decoration: none!important;
}

.from-staff {
    background-color: #eeeeee!important;
}

.just-posted {
    background-color: #CFFAD0!important;
}

.select2-container-multi .select2-choices .select2-search-field input {
    line-height: 1.1;
    color: #6f6f6f;
    background-color: none;
    background-image: none!important;
    border: none!important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-choices {
    border: 1px solid #eeeeee !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border: none!important;
}

.select2-container.select2-container-multi {
    margin-left: 5px;
    width: auto!important;
    min-width: 707px!important;
}

@media (max-width: 768px) {
    .select2-container.select2-container-multi {
        min-width: 310px!important;
    }
}


.left-menu {
    opacity: 0.5;
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

    .left-menu:hover {
        opacity: 1;
    }

.tag-opacity {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

.top-nav a {
    color: #aaaaaa;
    padding-left: 7px;
}

    .top-nav a.active {
        color: #f0f0f0;
    }

.list-group {
    font-size: 75%;
    color: #999;
    cursor: pointer;
}

    .list-group a {
        font-size: 75%;
    }

    .list-group .active, .list-group :hover {
        color: #333;
    }

    .list-group .list-group-item {
        padding-right: 0;
    }

.icon-search-metro {
    font-size: 75%;
    color: #aaaaaa;
    padding-top: 4px;
}

.feed2 .select2-container.select2-container-multi {
    width: auto!important;
    min-width: 430px!important;
}

.btn-xs, .btn-group-xs > .btn {
    font-size: 100%;
}

.filter-block {
    margin-left: -10px;
    margin-right: -10px;
}

.filter-panel span {
    color: #555555;
}

.filter-panel label, .filter-panel i {
    color: #999999;
    font-size: 100%;
}

.btn-default:hover i, .btn-default:focus i, .btn-default.active i, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #f0f0f0;
    background-color: #008cba;
    border-color: #008cba;
}



.movie-card i {
    font-size: 16px;
}

.movie-card .movie-button {
    color: #aaaaaa;
    font-weight: 100;
}

.movie-card a {
    font-weight: 100;
}

#columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
}

.poster {
    max-width: 100%;
    vertical-align: middle;
    border: 0px;
    display: block;
    margin: 0px auto;
    border-radius: 6px 6px 0px 0px;
    width: 236px;
}

@media (max-width: 768px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .pin {
        margin-bottom: 15px!important;
        width: 100%;
        display: inline-table;
    }

    .poster {
        width: 100%;
    }

    .container {
        padding: 0;
    }

    .movie-title {
        max-width: 140px!important;
    }
}

[class^="icon-dot"],
[class*=" icon-dot"] {
    font-size: 12px;
    padding-top: 4px;
}

.movie-tag-on-card a {
    padding-right: 5px;
    padding-left: 0;
}

.movie-sources i {
    font-size: 10px;
    padding-top: 6px;
}

.movie-button {
    padding: 10px 0;
    border-right: 1px solid #f0f0f0;
}

    .movie-button:hover {
        background: #f0f0f0;
    }

    .movie-button:last-of-type {
        border-right: none;
    }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #27282B;
    padding: 10px;
    padding-top: 6px;
    -ms-opacity: 0.9;
    opacity: 0.9;
}

.footer i {
    font-size: 29px;
}

.footer i.active {
    color: white;
}