<div ng-include="'app/partials/notifications/notification-menu.cshtml'"></div>
<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="../Img/inge-profile.jpg" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Inge Sandvik&nbsp;</a>liked 5 movies</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;">
            </span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">

                <span class="" style="display: block;">
                    <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                        <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">
                            <div class="" style="width: 50px; padding-top: 27px">+2</div>
                        </a>
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="../Img/inge-profile.jpg" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Inge Sandvik&nbsp;</a>commented  <b>"Interstellar"</b></span></div>
        <div class="" style="margin-top: 7px;">
            "This is a great movie, must watch for all! #space #best"
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="http://dev.filmgrail.com:8001/apiv2/User/GetSmallPhoto/2" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">4d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Simon Strumse&nbsp;</a>created a new collection</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 100px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
                <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
                <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
            </a>&nbsp;
            <div class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top;">
                <p class="" style="">Best sport movies</p>
                <a class="btn btn-default btn-xs">Follow</a>
            </div>
        </div>
    </div>
</div>
<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="../Img/inge-profile.jpg" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Inge Sandvik&nbsp;</a>saved "Interstellar"</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                    
                </a>
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="../Img/inge-profile.jpg" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Inge Sandvik&nbsp;</a>followed Simon Strumse and 4 more users</span></div>
        <div class="" style="margin-top: 7px;">
            <div class="" style="float: left; margin: 10px; vertical-align: top;">
                <a class="" style="float: right;color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
                    <div class="" style="width: 50px; padding-top: 16px">+2</div>
                </a>
                <a class="" style="padding-left:3px;float: right;color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
                    <img src="http://dev.filmgrail.com:8001/apiv2/User/GetSmallPhoto/2" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
                    <span style="font-size: 12px; font-weight: normal">Simon</span>
                </a>
                <a class="" style="padding-left:3px;float: right;color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
                    <img src="http://dev.filmgrail.com:8001/apiv2/User/GetSmallPhoto/20" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
                    <span style="font-size: 12px; font-weight: normal">Rashid</span>
                </a>
                <a class="" style="padding-left:3px;float: right;color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
                    <img src="http://dev.filmgrail.com:8001/apiv2/User/GetSmallPhoto/2048" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
                    <span style="font-size: 12px; font-weight: normal">Dima</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="http://dev.filmgrail.com:8001/apiv2/User/GetSmallPhoto/2" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">4d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Simon Strumse&nbsp;</a>followed <b>Petter's</b> collection</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 100px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
                <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
                <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 48%; vertical-align: middle; border: 0px; border-radius: 0;">
            </a>&nbsp;
            <div class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top;">
                <p class="" style="">Best sport movies</p>
                <a class="btn btn-default btn-xs">Follow</a>
            </div>
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="../Img/inge-profile.jpg" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Inge Sandvik&nbsp;</a>added <b>Interstellar</b> to <b>Best sport movies</b></span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                    
                </a>
        </div>
    </div>
</div>
<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="../Img/inge-profile.jpg" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Simon Strumse&nbsp;</a>added <b>Django, Rambo and 3 more movies</b> to <b>My favorite movies</b></span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;">
            </span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">

                <span class="" style="display: block;">
                    <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                        <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">
                            <div class="" style="width: 50px; padding-top: 27px">+2</div>
                        </a>
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Live_TV.png" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">14 new movies avaiable</a> for streaming on: NetFlix(3), Viaplay(7), iTunes(2) and more.</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;">
            </span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">

                <span class="" style="display: block;">
                    <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                        <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">
                            <div class="" style="width: 50px; padding-top: 27px">+11</div>
                        </a>
        </div>
    </div>
</div>
<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="http://p.zybh.gov.cn/Metro7Z/N73/Black/MB_0001_TV.png" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">TV.</a> 12 movies on tv tonight</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;">
            </span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">

                <span class="" style="display: block;">
                    <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                        <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">
                            <div class="" style="width: 50px; padding-top: 27px">+9</div>
                        </a>
        </div>
    </div>
</div>

<div class="" style="overflow: hidden; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(231, 231, 231); color: rgb(102, 102, 102); background-color: white;">
    <div class="" style="float: left; margin: 10px; vertical-align: top; width: 50px;">
        <a class="" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: block; text-align: center"><span style="display: block;">
            <img src="http://cdn.flaticon.com/png/256/24949.png" style="max-width: 100%; height: 50px; vertical-align: middle; border: 0px; width: 50px; border-radius: 50%;"></span>
            <span style="font-size: 12px; font-weight: normal">3d ago</span>
        </a>
    </div>
    <div class="" style="font-size: 12px; line-height: 15px; margin: 10px 12px; overflow: hidden;">
        <div class="" style="margin: 0px;"><span style="margin: 0px;"><a class="" href="#" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none;">Cinemas.</a> 3 movie premiers today</span></div>
        <div class="" style="margin-top: 7px;">
            <a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                <img src="https://image.tmdb.org/t/p/w185/AliSeCLFB6ZAkQIxosr8RAkFf6R.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;">
            </span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">

                <span class="" style="display: block;">
                    <img src="https://image.tmdb.org/t/p/w185/eUAg3pUwHmV14sPnu2ITxW5daf0.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;"><span class="" style="display: block;">
                        <img src="https://image.tmdb.org/t/p/w185/zMP1PEvwH8Uy6jiIG1Qzp0svS1q.jpg" style="max-width: 100%; vertical-align: middle; border: 0px; width: 50px; border-radius: 3px;"></span></a>&nbsp;<a class="" href="http://www.pinterest.com/news/4748475846474342124" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; display: inline-block; height: 50px; margin-right: 4px; vertical-align: top; width: 50px;">
                        </a>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br />