<div style="height: 40px; background: green; margin: -5px; margin-bottom: 0; padding: 10px 5px; color: white">
    <div class="col-xs-2 text-left" style="padding: 0;"></div>
    <div class="col-xs-8 text-center">ACTIVITY</div>
    <div class="col-xs-2 text-right" style="padding: 0;"><i class="icon-users-outline" style="color: white; font-size: 16px;"></i></div>
</div>
<ul class="nav nav-pills center-block text-center" style="margin: 3px">
  <li role="presentation"><a ui-sref="notification-news" ui-sref-active="active"><i class="icon-dot icon-3x" style="color: orange;"></i>&nbsp;News</a></li>
  <li role="presentation"><a ui-sref="notification-you" ui-sref-active="active">You</a></li>
  <li role="presentation"><a ui-sref="notification-inbox" ui-sref-active="active"><i class="icon-dot icon-3x" style="color: orange;"></i>&nbsp;Inbox</a></li>
</ul>