<div ng-show="tags.length>0" class="row" style="margin: 0">
    <input ui-select2="tagOptions" placeholder="Search..." ng-model="tags" style="margin-bottom: 5px; margin-top: 5px; text-align: center;">
    <div class="visible-xs" ng-include="'app/partials/filters-mob-light.cshtml'"></div>
    <div class="col-md-8 movies" style="background: #E9E9E9">
        <p class="" style="line-height: 40px; font-size: 75%; margin-bottom: 0; color: #999;height: 40px;">
            {{300544/((tags.length+1)*2) | number:0 }} movies found
            @*<a class="pull-right" style="font-size: 100%;color: #999;">newest</a>
            <a class="pull-right" style="font-size: 100%">popular&nbsp;&nbsp;</a>*@
            @*<select class="pull-right dropdown">
                <option>newest</option>
                <option>popular</option>
            </select>*@
        </p>
        <div id="columns">
            <div class="pin movie-card" ng-repeat="movie in feed" style="margin-bottom: 25px; padding-right: 0">
                <div ng-include="'app/partials/movie2.cshtml'"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 filter-panel hidden-xs" style="padding-top: 20px; background: #fafafa; height: 600px; font-size: 75%;" ng-include="'app/partials/filters2.cshtml'"></div>
</div>
<div ng-hide="tags.length>0" class="search-items">
    <input ui-select2="tagOptions" placeholder="Search..." ng-model="tags" style="margin-bottom: 5px; margin-top: 5px; text-align: center;">

    <p>Sources</p>
    <a ng-click="addTag('On Netflix, iTunes or Viaplay')">On Netflix, Viaplay, GET and 2 more</a>
    <a ng-click="addTag('Airing on TV')">Airing on TV</a>
    <a ng-click="addTag('In cinemas')">In cinemas</a>
    <p>Genres</p>
    <a ng-click="addTag(genre+' - medium')" ng-repeat="genre in genres">{{genre}}</a>
    <p>More categories</p>
    <a ng-click="addTag(tag)" ng-repeat="tag in tagList">#{{tag}}</a>
</div>
