<div ng-show="tags.length>0 &&!showFilters" style="height: 40px; background: #0dac9b; margin: -5px; margin-bottom: 0; padding: 10px 5px; color: white">
    <div ng-click="reset()" class="col-xs-2 text-left" style="padding: 0;"><i class="icon-chevron-left" style="color: white; font-size: 18px;"></i></div>
    <div class="col-xs-8 text-center">{{300544/((tags.length+1)*2) | number:0 }} movies</div>
    <div ng-click="showFilters=!showFilters" class="col-xs-2 text-right" style="padding: 0;"><i style="color: white; font-size: 18px;" class="icon-adjust-alt"></i></div>
</div>
<div ng-show="tags.length>0&&!showFilters" class="row" style="margin: 0">
    <input ui-select2="tagOptions" placeholder="Search..." ng-model="tags" style="margin-bottom: 5px; margin-top: 5px; text-align: center;">
    <div class="visible-xs" ng-include="'app/partials/filters-mob-light.cshtml'"></div>
    <div class="col-md-8 movies" style="background: #E9E9E9">
        <div id="columns">
            <div class="pin movie-card" ng-repeat="movie in feed" style="margin-bottom: 25px; padding-right: 0">
                <div ng-include="'app/partials/movie2.cshtml'"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 filter-panel hidden-xs" style="padding-top: 20px; background: #fafafa; height: 600px; font-size: 75%;" ng-include="'app/partials/filters2.cshtml'"></div>
</div>
<div ng-hide="tags.length>0||showFilters" class="search-items">
    <input ui-select2="tagOptions" placeholder="Search..." ng-model="tags" style="margin-bottom: 5px; margin-top: 5px; text-align: center;">
    <p>Sources</p>
    <a ng-click="addTag('On Netflix, iTunes or Viaplay')">On Netflix, Viaplay, GET and 2 more</a>
    <a ng-click="addTag('Airing on TV')">Airing on TV</a>
    <a ng-click="addTag('In cinemas')">In cinemas</a>
    <p>Genres</p>
    <a ng-click="addTag(genre+' - medium')" ng-repeat="genre in genres">{{genre}}</a>
    <p>More categories</p>
    <a ng-click="addTag(tag)" ng-repeat="tag in tagList">#{{tag}}</a>
</div>
<div ng-show="showFilters" style="height: 40px; background: #0dac9b; margin: -5px; margin-bottom: 0; padding: 10px 5px; color: white">
    <div ng-click="showFilters=false" class="col-xs-2 text-left" style="padding: 0;"><i class="icon-chevron-left" style="color: white; font-size: 18px;"></i></div>
    <div class="col-xs-8 text-center">{{300544/((tags.length+1)*2) | number:0 }} movies</div>
    <div ng-click="showFilters=!showFilters" class="col-xs-2 text-right" style="padding: 0;"></div>
</div>
<div class="col-md-4 filter-panel" ng-if="showFilters&&tags.length>0" style="padding-top: 20px; background: #fafafa; height: 600px; font-size: 75%;" ng-include="'app/partials/filters2.cshtml'"></div>
