<div class="row" style="border: 1px #f0f0f0 solid; margin: 0">
    <input ui-select2="tagOptions" placeholder="Search..." ng-model="tags" style="margin-bottom: 5px; margin-top: 5px; text-align: center;">
    <div class="visible-xs" ng-include="'app/partials/filters-mob2.cshtml'"></div>
    <div class="col-md-8" style="background: #E9E9E9">
        <p class="" style="line-height: 40px; font-size: 75%; margin-bottom: 0; color: #999;">
            {{300544/((tags.length+1)*2) | number:0 }} movies found
            @*<a class=" pull-right" style="font-size: 100%" ng-show="tags.length>0" ng-click="">reset</a>*@
        </p>
        <div id="columns">
            <div class="pin movie-card" ng-repeat="movie in feed" style="margin-bottom: 25px; padding-right: 0">
                <div ng-include="'app/partials/movie2.cshtml'"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 filter-panel hidden-xs" style="padding-top: 20px; background: #fafafa; height: 600px; font-size: 75%;" ng-include="'app/partials/filters2.cshtml'"></div>
</div>
