<div style="height: 40px; background: green; margin: -5px; margin-bottom: 0; padding: 10px 5px; color: white">
    <div class="col-xs-2 text-left" style="padding: 0;"></div>
    <div class="col-xs-8 text-center">FILMGRAIL</div>
    <div class="col-xs-2 text-right" style="padding: 0;"><i class="icon-users-outline" style="color: white; font-size: 16px;"></i></div>
</div>
<div class="row" style="border: 1px #f0f0f0 solid; margin: 0">
    <div class="col-md-12 movies home" style="background: #E9E9E9">
        <div id="columns">
            <div class="pin movie-card" ng-repeat="movie in feed" style="margin-bottom: 25px; padding-right: 0">
                <div ng-include="'app/partials/movieHome.cshtml'"></div>
            </div>
        </div>
    </div>
</div>
