<div class="row" style="border: 1px #f0f0f0 solid; margin: 0">
    <div class="col-md-8 movies" style="background: #E9E9E9">
        <div id="columns">
            <div class="pin movie-card" ng-repeat="movie in feed" style="margin-bottom: 25px; padding-right: 0">
                <div ng-include="'app/partials/movieHome.cshtml'"></div>
            </div>
        </div>
    </div>
</div>
