<div data-component-type="0" class="" style="font-size: 11px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(0, 0, 0, 0.219608); border-radius: 0; background: rgb(255, 255, 255);">
    <div class="" style="border-radius: 0;">
        <div class="">
            <div class="">
                <a href="#" class="" data-element-type="35" style="color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; border-radius: 0; display: block; padding: 0px; background: rgb(1, 0, 5);">
                    <div class="">
                        <img ng-src="https://image.tmdb.org/t/p/w185{{movie.PosterPath}}" class="poster" alt="72 Fan-Made Film Posters - From Defaced Film Posters to Zombified Movie Homages (TOPLIST)">
                    </div>
                </a>
            </div>
        </div>
        <div class="" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(224, 224, 224);">
            <a href="#" class="" style="color: rgb(113, 113, 113); text-decoration: none; overflow: hidden; display: block; padding: 5px 12px 6px;">
                <div class="ellipsis movie-title" style="font-weight: bold; color: rgb(170, 170, 170); font-weight: normal; margin: 9px 7px 7px 5px; max-width: 180px; overflow: hidden; clear: both; color: #444; font-size: 12px; font-weight: bold; margin: 0; max-height: 68px; padding: 4px 0 4px;">{{movie.Title}}</div>
                <div class="movie-sources">
                    <span class="" style="font-size: 10px; color: rgb(120, 120, 120);">{{movie.ProductionYear}},&nbsp;IMDB {{movie.Rating | number:1}}</span>
                    <i tooltip="Avaialbe on Netflix and ITunes" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>0" class="icon-signal pull-right" style="color: #0dac9b"></i>
                    <i tooltip="Airing on NRK2 tomorrow 21:00" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>1" class="icon-television-tv pull-right" style="color:#0dac9b"></i>
                    <i tooltip="Avaialbe in cinemas" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>2" class="icon-cinema pull-right" style="color: #0dac9b"></i>
                </div>

            </a>
        </div>
        <div class="movie-tag-on-card" style="padding: 5px 12px 6px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(224, 224, 224);">
            <a ng-click="addTag(movieTag)" class="btn btn-link btn-xs" style="margin: 0" ng-repeat="movieTag in movie.Tags">#{{movieTag}}</a>
        </div>
        <div class="" style="padding: 7px 12px 10px;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(224, 224, 224);">
            <img class="img-rounded pull-left" ng-src="{{movie.ReasonPicture}}" ng-show="movie.ReasonPicture!=null" style="margin-bottom: 5px;"/>
            <p class="" style="font-size: 10px; color: rgb(120, 120, 120); line-height: 17px; word-wrap: break-word; margin: 0px; padding: 0px;font-weight: bold">
                {{movie.Reason}}
            </p>
            <p class="" style="font-size: 10px; color: rgb(120, 120, 120); line-height: 11px; word-wrap: break-word; margin: 0px; padding: 0px;font-style: italic">
                {{movie.ReasonSubTitle}}
            </p>
        </div>
        <div class="" style="font-family: Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif; font-weight: bold; color: rgb(119, 119, 119);">
            <div class="" data-element-type="282" style="border-radius: 0;">
                <div class="" style="border-radius: 0; line-height: 15px; padding: 0 12px;">
                    <div class="row">
                        <div tooltip="Save it" tooltip-placement="bottom" data-toggle="tooltip" class="col-xs-3 text-center pointer movie-button"><i class="icon-plus"></i>
                        </div>
                        <div tooltip="Like it" tooltip-placement="bottom" data-toggle="tooltip" class="col-xs-3 text-center pointer movie-button"><i class="icon-heart-small-outline"></i>&nbsp;{{movie.Likes.length | nullIfZero}}
                        </div>
                        <div tooltip="Comment it" tooltip-placement="bottom" data-toggle="tooltip" class="col-xs-3 text-center pointer movie-button"><i class="icon-chatbubble-outline"></i>&nbsp;2
                        </div>
                        <div tooltip="Share or send to a friend" tooltip-placement="bottom" data-toggle="tooltip" class="col-xs-3 text-center pointer movie-button"><i class="icon-redo-outline"></i>&nbsp;1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
