<div style="font-size: 75%;">
    <div class="row">
        <div class="col-xs-12" style="color: #999;">
            {{movie.Title | limitTo:26}}<span ng-show="movie.Title.length>25">...</span>
        </div>
    </div>
    <div style="margin-bottom: -30px; padding: 7px; opacity: 0.7; background: black; height: 30px;">

        <div class="row">
            <div class="col-xs-12">
                <i tooltip="IMDB rating" tooltip-placement="top" data-toggle="tooltip" class="icon-star pull-left">&nbsp;{{movie.Rating | number:1}}</i>
                <i tooltip="Avaialbe on Netflix and ITunes" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>0" class="icon-signal pull-right"></i>
                <i tooltip="Airing on NRK2 tomorrow 21:00" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>1" class="icon-television-tv pull-right"></i>
                <i tooltip="Avaialbe in cinemas" tooltip-placement="top" data-toggle="tooltip" ng-show="movie.Likes.length>2" class="icon-cinema pull-right"></i>
            </div>
        </div>
    </div>
    <div>
        <img class="img-responsive" style="width: 100%;" ng-src="https://image.tmdb.org/t/p/w185{{movie.PosterPath}}" alt="..." />
    </div>
    <div style="margin-top: -60px; padding: 10px; opacity: 0.7; background: black; height: 60px; padding-top: 7px;">
        <p style="color: #E0E0E0; font-size: 12px;" ng-show="movie.Likes.length>0" ng-hide="movie.Likes.length==0&&movie.UsersHavingMovie.length">{{movie.Likes[0].Name | limitTo:10}} liked it</p>
        <p style="color: #E0E0E0; font-size: 12px;" ng-show="movie.Likes.length==0 && movie.UsersHavingMovie.length>0">{{movie.UsersHavingMovie[0].Name | limitTo:10}} shared it</p>
        <div class="row">
            <div class="col-xs-4 text-center"><i class="icon-heart-empty">&nbsp;{{movie.Likes.length | nullIfZero}}</i></div>
            <div class="col-xs-4 text-center"><i class="icon-comment-alt">&nbsp;2</i></div>
            <div class="col-xs-4 text-center"><i class="icon-share-alt">&nbsp;1</i></div>
        </div>
    </div>
</div>
