<div style="height: 40px; background: green; margin: -5px; margin-bottom: 0; padding: 10px 5px; color: white">
    <div class="col-xs-2 text-left" style="padding: 0;"></div>
    <div class="col-xs-8 text-center">PROFILE</div>
    <div class="col-xs-2 text-right" style="padding: 0;"><i class="icon-settings-streamline-1" style="color: white; font-size: 16px;"></i></div>
</div>
